<section class="row">
  <div class="col-md-12">
    <form [formGroup]="form" (ngSubmit)="lookupDNS()" novalidate class="row">
      <div class="col-md-2 offset-md-2 pt-2">Lookup DNS or IP</div>
      <div class="col-md-6"><input type="text" formControlName="searchField" class="form-control"
          placeholder="e.g: 192.168.1.1 or example.com" (blur)="validate()" autofocus></div>
      <div class="col-md-1"><button class="btn btn-primary hide-in-print" role="submit">Search</button></div>
      <div class="col-md-1 ps-2">
        @if (searching) {
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        }
      </div>
    </form>
    <div class="row hide-in-print">
      @if (displayValidationError && !form.controls['searchField'].valid && form.controls['searchField'].value != '') {
        <div class="offset-md-4 col-md-6"><span class="text-danger" title="Fully Qualified Domain Name">Please enter a valid FQDN or IPv4 address.</span></div>
      }
      
    </div>
  </div>
</section>
<section>
  <div class="row mt-4 mb-4"></div>
  @if(this.resp?.internalIPAddresses?.length) {
  <div class="row pb-4">
    <hr />
    <div class="offset-md-2 col-md-3">Internal DNS Lookup:</div>
    <div class="col-md-7">
      @for (intIp of resp?.internalIPAddresses; track intIp) {
      <div class="row pb-2">
        <div class="monospace col-md-8">{{intIp}}&nbsp;</div>
        <div class="col-md-4 non-mono hide-in-print"><button class="btn btn-primary nowrap" (click)="doReverseLookup(intIp)">Reverse
            lookup</button></div>
      </div>
      }
    </div>
  </div>
  }
  @if(resp?.externalIPAddresses?.length) {
  <div class="row pb-4">
    <hr />
    <div class="offset-md-2 col-md-3">External DNS Lookup:</div>
    <div class="col-md-7">
      @for (extIp of resp?.externalIPAddresses; track extIp) {
      <div class="row pb-2">
        <div class="monospace col-md-8">{{extIp}}</div><div class="col-md-4 non-mono"><button
            class="btn btn-primary nowrap hide-in-print" (click)="doReverseLookup(extIp)">Reverse
            lookup</button></div>
      </div>
      }
    </div>
  </div>
  }
  @if(resp?.dnsNames?.length) {
  <div class="row pb-4">
    <hr />
    <div class="offset-md-2 col-md-3">Reverse Lookup DNS names:</div>
    <div class="col-md-7">
      @for (dnsName of resp?.dnsNames; track dnsName) {
      <div class="row pb-2">
        <div class="monospace col-md-8 text-break">{{dnsName}}</div><div class="col-md-4 non-mono hide-in-print"><button class="btn btn-primary nowrap"
            (click)="doReverseLookup(dnsName)">DNS
            lookup</button></div>
      </div>
      }
    </div>
  </div>
  }
</section>
