<section class="row">
  <div class="col-md-12">
    <form [formGroup]="form" (ngSubmit)="lookupDNS()" class="row">
      <div class="col-md-2 offset-md-2 pt-2">Lookup DNS or IP</div>
      <div class="col-md-6"><input type="text" formControlName="searchField" class="form-control"
          placeholder="eg: 192.168.1.1 or example.com"></div>
      <div class="col-md-1"><button class="btn btn-primary" role="submit">Search</button></div>
      <div class="col-md-1 ps-2">
        @if (searching) {
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        }
      </div>
    </form>
  </div>
</section>
<section>
  <div class="row mt-4 mb-4"></div>
  @if(this.resp?.internalIPAddresses?.length) {
  <div class="row pb-4">
    <hr />
    <div class="offset-md-2 col-md-4">Internal DNS Lookup:</div>
    <div class="col-md-4">
      @for (intIp of resp?.internalIPAddresses; track intIp) {
      <div class="row pb-2">
        <div class="monospace col-md-8">{{intIp}}&nbsp;</div>
        <div class="col-md-4 non-mono"><button class="btn btn-primary nowrap" (click)="doReverseLookup(intIp)">Reverse
            lookup</button></div>
      </div>
      }
    </div>
  </div>
  }
  @if(resp?.externalIPAddresses?.length) {
  <div class="row pb-4">
    <hr />
    <div class="offset-md-2 col-md-4">External DNS Lookup:</div>
    <div class="col-md-4">
      @for (extIp of resp?.externalIPAddresses; track extIp) {
      <div class="row pb-2">
        <div class="monospace col-md-8">{{extIp}}</div><div class="col-md-4 non-mono"><button
            class="btn btn-primary nowrap" (click)="doReverseLookup(extIp)">Reverse
            lookup</button></div>
      </div>
      }
    </div>
  </div>
  }
  @if(resp?.dnsNames?.length) {
  <div class="row pb-4">
    <hr />
    <div class="offset-md-2 col-md-4">Reverse Lookup DNS names:</div>
    <div class="col-md-4">
      @for (dnsName of resp?.dnsNames; track dnsName) {
      <div class="row pb-2">
        <div class="monospace col-md-8">{{dnsName}}</div><div class="col-md-4 non-mono"><button class="btn btn-primary nowrap"
            (click)="doReverseLookup(dnsName)">DNS
            lookup</button></div>
      </div>
      }
    </div>
  </div>
  }
</section>
