<!-- Toolbar -->
<div class="toolbar row pt-1" role="banner">
  <div class="col-md-1 col-sm-3 d-flex justify-content-md-end">
    <a href="/">
      <div class="hide-in-print">
        <fa-icon class="logo text-light" title="Click to clear query string from url" [icon]="faCircleNodes" size="xl" alt="A trinagle with a dot in each angle"></fa-icon>
      </div>
    </a>
  </div>
  <div class="col-md-1 col-sm-4 ps-0">
    <h2><a class="title-link" title="Click to clear query string from url" href="/">WebDig</a></h2>
  </div>
  <div class="col-md-1 ms-3 nowrap hide-in-print">
    - DNS lookup
  </div>
  <div class="col-md-1 offset-md-7 hide-small hide-in-print">
    <a aria-label="WebDig-frontend on github" target="_blank" rel="noopener"
      href="https://github.com/arizon-dread/webdig-frontend" title="GitHub">
      <img id="github-logo" title="View on GitHub" alt="github logo" src="../assets/github-mark.svg" class="logo" />
    </a>
  </div>
</div>

<main class="content" role="main">

  <!-- Highlight Card -->

  <div class="container">
    <router-outlet></router-outlet>
  </div>


</main>

<footer>

</footer>
